/libvsoms/build/
/libvsoms/dist/
/libvsoms/nbproject/private/
/vsoms/dist/
/vsoms/build/
/vsoms/nbproject/private/
/vsoms/.dep.inc
/basic-test/build/
/basic-test/dist/
/basic-test/nbproject/private/
/basic-test/.dep.inc
/somltsp/build/
/somltsp/dist/
/somltsp/nbproject/private/
/somltsp/.dep.inc
/gwr/build/
/gwr/dist/
/gwr/nbproject/private/
/gwr/.dep.inc


